@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.card-body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}